* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
} 

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(168, 168, 179);
    height: 6rem;
    min-width:100%;
    margin-bottom: 7rem;
}

body {
   display: flex;
   align-items: center;
   justify-content:center;
   
}





